h1 {
    text-align: center;
}
.contenedor p { /* Para todos los párrafos dentro de .contenedor */
    background-color: skyblue;
}
.contenedor h2 + p { /* Para el <p> adyacente a h2 */
    background-color: yellow;
}
.contenedor h2 ~ p { /* Para todos los <p> que suceden a h2 */
    color: blue;
}

/* ESTILOS ADICIONALES */
body {
    background-color: rgb(255, 173, 173);
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor {
    max-width: 60%;
    margin: auto;
    border: 2px solid #313030;
    padding: 10px;
    text-align: center;
    background-color: rgb(248, 213, 166);
    border-radius: 15px;
    box-shadow: 0 0 10px gray;
}