h1 {
    text-align: center;
}

.contenido a:link {
    color: green;
    background-color: aquamarine;
}
.contenido a:visited {
    color: purple;
    background-color: #e2dc84;
}
.contenido a:hover {
    color: red;
    background-color: #c7c5c5;
}
.contenido a:active {
    color: orange;
    background-color: #f0f076;
}

/* Estilos adicionales */

body {
    background-color: rgb(172, 255, 172);
    font-family: Arial, Helvetica, sans-serif;
}