h1 {
    text-align: center;
}

p::first-line {
    font-weight: bold;
}

p::first-letter {
    font-size: 3em;
    font-family: "Old English Text MT", "Goudy Old Style", serif;
    float: left;
    line-height: 0.5;
    margin-right: 8px;
    color: darkred;
}

::selection {
    background: yellow;
    color: red;
}

.servicios {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

/* Flecha antes del título */
.servicios::before {
    content: "--->";
    color: blue;
}

/* Flecha despúes del título */
.servicios::after {
    content: "<---";
    color: green;
}