h1 {
    text-align: center;
}

a:link {
    color: green;
    background-color: aquamarine;
}
a:visited {
    color: purple;
    background-color: #e2dc84;
}
a:hover {
    color: red;
    background-color: #c7c5c5;
}
a:active {
    color: orange;
    background-color: #f0f076;
}