h1 {
    text-align: center;
}

ol li:nth-child(odd) {
    background-color: #a8a3a3;
}
/* ol {
    list-style: none;
} */
ol li::before {
    content: "===>";
    color: yellow;
}
ol li:hover {
    cursor: pointer;
    background-color: #80808065;
}
ol li#hecha::after {
    content: " \\/";
    /* content: " /"; */
}
